﻿@model EquipmentsModel
@inject Nop.Services.Common.IGenericAttributeService genericAttributeService
@inject IWorkContext workContext
@{

    const string hideInfoBlockAttributeName = "ProductAttributePage.HideInfoBlock";
    var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideInfoBlockAttributeName);

}
<input asp-for="CustomerId" type="hidden" />
<div class="content">
    <div class="form-horizontal">
        <div id="equipments-edit">
            <nop-panels id="equipments-panels">
                <nop-panel asp-name="equipments-info" asp-icon="fa fa-info" asp-title="@T("Admin.Equipments.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_EquipmentsDetails", Model)</nop-panel>
            </nop-panels>
        </div>
    </div>
</div>