﻿@model EquipmentsModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="CategoryId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="CategoryId" asp-items="Model.AvailableEquipments" />
            <span asp-validation-for="CategoryId"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Quantity" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Quantity" />
            <span asp-validation-for="Quantity"></span>
        </div>
    </div>
</div>