﻿@model EquipmentsModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Equipments.EditDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("MedicalEquipments");
}

<form asp-controller="Equipments" asp-action="Edit" method="post" id="equipment-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Equipments.EditDetails")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Equipments.BackToEquipmentList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="equipment-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-action="Delete" asp-button-id="equipment-delete" />