﻿@model EquipmentsSearchModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Equipments.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("MedicalEquipments");
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Equipments.Hint") of : @Model.CustomerName
    </h1>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-body">


            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                            Name = "equipments-grid",
                            UrlRead = new DataUrl("List", "Equipments", new RouteValueDictionary { [nameof(Model.CustomerId)] = Model.CustomerId }),
                            Length = Model.PageSize,
                            LengthMenu = Model.AvailablePageSizes,
                            ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(EquipmentsModel.EquipmentName))
                                {
                                    Title = T("Admin.Equipments.Fields.Name").Text,
                                    Width = "700"
                                },
                                new ColumnProperty(nameof(EquipmentsModel.Quantity))
                                {
                                    Title = T("Admin.Equipments.Fields.Quantity").Text,
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                    Width = "200"
                                },
                                new ColumnProperty(nameof(ProductAttributeMappingModel.Id))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "100",
                                    ClassName =  NopColumnClassDefaults.Button,
                                    Render = new RenderButtonEdit(new DataUrl("~/Admin/Equipments/Edit/"))
                                }
                            }
                        })
                    </div>

                    <div class="panel-footer">
                        <a asp-action="Create" asp-route-productId="@Model.CustomerId" class="btn bg-blue">
                            <i class="fa fa-plus-square"></i>
                            @T("Admin.Equipments.AddNewEquipment.Button")
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>