﻿@model IList<CenterContentModel>

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Address</td>
            <td>@item.Contact</td>
            <td>@item.City</td>
            <td>@item.Area</td>
            <td style="text-align:center">@item.Bed</td>
            <td style="text-align:center">@item.Vantilator</td>
            <td style="text-align:center">@item.Oxygen</td>
        </tr>
    }
}

