﻿@model AvailableCenterModel

@if (Model != null && Model.CenterData.Count > 0)
{
<div class="page registration-page">
    <div class="page-title">
        <h1>Medical Equipment Availability</h1>
    </div>
    <div class="page-body">
        <div class="fieldset">
            <div class="form-fields">
                <div class="inputs">
                    <label asp-for="SelectedAreaId" asp-postfix=":"></label>
                    <select asp-for="SelectedAreaId" asp-items="Model.AvailableAreas"></select>

                </div>
                <table border="1" id="tbl-center">
                    <thead>
                        <tr style="text-align:center">
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>City</th>
                            <th>Area</th>
                            <th>Bed</th>
                            <th>Vantilator</th>
                            <th>Oxygen</th>
                        </tr>
                    </thead>
                    <tbody id="trow">
                        @foreach (var item in Model.CenterData)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Address</td>
                                <td>@item.Contact</td>
                                <td>@item.City</td>
                                <td>@item.Area</td>
                                <td style="text-align:center">@item.Bed</td>
                                <td style="text-align:center">@item.Vantilator</td>
                                <td style="text-align:center">@item.Oxygen</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    <script asp-location="Footer">
        $(document).ready(function () {
            $('#tbl-center').DataTable();
            $("#@Html.IdFor(model => model.SelectedAreaId)").change(function(){
                var selectedItem = $(this).val();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetFilterData", "AvailableEquipment"))",
                    data: {
                        "areaId": selectedItem
                    },
                    success: function (data, textStatus, jqXHR) {
                        $("#trow").html('');
                        $("#trow").append(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#getStatesByCountryIdAlert").click();
                    }
                });
            });
        });
    </script>
}
